@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bonjour GROUPE_404</h1>
    <h1 class="display-4">LAMMRI Issam    _ _ __ _ _ DIB Mohammed </h1>
    <h2>premiere application ASP.NET</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
